<div class="mx-auto max-w-[1400px] text-xl">
  @if (dishDetails$ | async; as dish) {

  <mat-tab-group
    [selectedIndex]="paramsMap.get('page')?.value"
    (selectedIndexChange)="paramsMap.get('page')?.setValue($event)"
    mat-stretch-tabs="true"
    animationDuration="0ms"
    mat-align-tabs="start">
    <mat-tab label="Details">
      <div class="mx-auto mt-4 grid w-full p-[3rem]  gap-[1rem] lg:grid-cols-2">
        <mat-card>

          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ dish.strMeal }}</mat-card-title>
              <mat-card-subtitle>{{ dish.strCategory }}
                {{ dish.strArea }}</mat-card-subtitle>

              <mat-card-subtitle class="mt-2">
                <mat-chip-listbox>
                  @for (tag of dish.strTags | separate; track $index) {
                  <mat-chip color="primary"> {{ tag }}</mat-chip>
                  }
                </mat-chip-listbox>
              </mat-card-subtitle>
              <img [src]="dish.strMealThumb" alt mat-card-xl-image />
            </mat-card-title-group>
          </mat-card-header>

        </mat-card>
        <div #container>
          <youtube-player
            suggestedQuality="highres"
            [startSeconds]="0"
            [width]="container.offsetWidth"
            [height]="container.offsetWidth / 1.77"
            [videoId]="
                        dish.strYoutube | extractYoutubeId
                      "></youtube-player>
        </div>
      </div>

    </mat-tab>
    <!-- {{dish.}} -->
    <mat-tab label="Ingredients">
      <div
        class="relative mx-auto grid max-w-[1200px] gap-5 p-[1rem] sm:grid-cols-2 xl:grid-cols-5">
        @for (
        ingredient of ingredients$ | async;
        track ingredient[0].idIngredient
        ) {
        <app-food-card
          [title]="ingredient[0].strIngredient"
          [subtitle]="ingredient[1]"
          (Clicked)="navigateToDestination(ingredient[0].idIngredient)"
          [imgSrc]="
                'https://www.themealdb.com/images/ingredients/' +
                ingredient[0].strIngredient +
                '.png'
              ">
        </app-food-card>
        }
      </div>
    </mat-tab>
    <h1>Recipe</h1>
    <mat-tab label="Recipe">
      <mat-list>
        @for (
        sentence of dish.strInstructions | separate: '.';
        track $index
        ) {
        <mat-list-item class="list"> {{ sentence }}<br /></mat-list-item>
        }
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  }
</div>
