<div class=" bg-red-200">
    <mat-card color="primary">
        <div class="font-extrabold mb-[1.5rem] text-md h-[4rem] ">
            <mat-card-header>
                <mat-card-title>{{ title}}</mat-card-title>
            </mat-card-header>
        </div>
        <mat-card-content>

            <img class (load)="placeHolder.style.display='none'"
                [src]="imgSrc"
                alt />
            <div
                class="w-[100%] aspect-square   flex justify-center items-center h-full "
                #placeHolder>
                <mat-spinner></mat-spinner>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <ng-content></ng-content>
        </mat-card-actions>
    </mat-card>
</div>
