<div class="flex min-h-screen flex-col items-stretch justify-stretch">
  <div class="sticky top-0 z-10 w-full">
    <mat-toolbar color="primary">
      <mat-toolbar-row (click)="activateRoute()">
        <span class="mr-2 text-xl font-extrabold italic">FoodBrowser</span>

        <button
          mat-button
          [class.active]="activePage === 'ingredients'"
          [disabled]="activePage === 'ingredients'"
          routerLink="/food/ingredients">
          Ingredients
        </button>
        <button
          mat-button
          [class.active]="activePage === 'dishes'"
          [disabled]="activePage === 'dishes'"
          routerLink="/food/dishes">
          Dishes
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</div>
