<div class="sticky top-0 w-full z-10">
  <mat-toolbar color="primary">
    <mat-toolbar-row (click)="activateRoute()">
      <span class="font-extrabold mr-2 text-xl italic">FoodBrowser</span>

      <button mat-button [class.active]="activePage==='ingredients'"
        [disabled]="activePage==='ingredients'"
        routerLink="/food/ingredients">Ingredients</button>
      <button mat-button [class.active]="activePage==='dishes'"
        [disabled]="activePage==='dishes'"
        routerLink="/food/dishes">Dishes</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>