@if (ingredientDetails$ | async; as ingredient){
<mat-tab-group
    mat-stretch-tabs="true"
    animationDuration="0ms"
    mat-align-tabs="start">
    <mat-tab label="Details" class>
        <div class="md:grid  grid-cols-6  w-full p-[2rem] gap-[1rem]">
            <div class="col-span-4">

                <h1 class="mat-headline-2">{{ingredient.strIngredient}}</h1>
                <h2>{{ingredient.strType}}</h2>
                <mat-divider></mat-divider>

                <p class=" text-justify">{{ingredient.strDescription}}</p>
            </div>
            <div class="flex flex-col col-span-2  justify-center w-full">
                <img class=" w-full mx-auto " [src]="
                'https://www.themealdb.com/images/ingredients/'+ingredient.strIngredient +
                '.png'" alt="ingredient" />
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Dishes">
        <div
            class="relative mx-auto grid max-w-[1200px] gap-5 p-[1rem] md:grid-cols-2 xl:grid-cols-3  ">
            @if(allDishes$ | async; )

            {

            @for (dish of allDishes$|async; track dish.idMeal) {
            <app-food-card [subtitle]="dish.strMeal"
                [imgSrc]="dish.strMealThumb"  (Clicked)="navigateToDestination(dish.idMeal)">

            </app-food-card>
            } @empty {}}
        </div>
    </mat-tab>
</mat-tab-group>

}